# Required or positional argument

In [1]:
def empldts(ename,eid):
    print(f"Employee Name is: {ename}\n"
          f"Employee Id is: {eid}")
    return

en = input("Enter a name: ")
ed = input("Enter an Id: ")
empldts(en,ed)

Enter a name: kiran
Enter an Id: e45
Employee Name is: kiran
Employee Id is: e45

In [2]:
def empldts(ename,eid,esal):
    print(f"Employee Name is: {ename}\n"
          f"Employee Id is: {eid}")
    return

en = input("Enter a name: ")
ed = input("Enter an Id: ")
empldts(en,ed)

Enter a name: Hari
Enter an Id: e78

TypeError: empldts() missing 1 required positional argument: 'esal'

In [3]:
def empldts(ename):
    print(f"Employee Name is: {ename}")
    return

en = input("Enter a name: ")
ed = input("Enter an Id: ")
empldts(en,ed)

Enter a name: Rajesh
Enter an Id: E34

TypeError: empldts() takes 1 positional argument but 2 were given

# Default argument

In [6]:
def stdnt(name,year=3,branch='CSE'):
    print(f"Name is: {name}\nYear is: {year}\n"
          f"Branch is: {branch}")
    return

sn = input("Enter a Name: ")
sy = input("Enter an Year: ")
stdnt(sn,sy)
# stdnt(sn)

Enter a Name: Manoj
Enter an Year: 1
Name is: Manoj
Year is: 1
Branch is: CSE

In [7]:
def stdnt(name,year=3,branch):
    print(f"Name is: {name}\nYear is: {year}\n"
          f"Branch is: {branch}")
    return

sn = input("Enter a Name: ")
sy = input("Enter an Year: ")
stdnt(sn,sy)
# stdnt(sn)

SyntaxError: non-default argument follows default argument (<ipython-input-7-37fa49a82efe>, line 1)

# Keyword argument

In [9]:
def empl(es,eid,en):
    print(f"Employee Name: {en}\nEmployee Id: {eid}\n"
         f"Employee Salary: {es}")
    return

i = input("Enter employee id: ")
n = input("Enter employee name: ")
s = input("Enter employee sal: ")
empl(eid=i,en=n,es=s)

Enter employee id: E456
Enter employee name: Arun
Enter employee sal: 45000
Employee Name: Arun
Employee Id: E456
Employee Salary: 45000

# Variable Length argument

In [10]:
def yh(k,*h):
    print(k,type(k))
    print(h,type(h))
    return 

yh("Sireesha",50,23.054,'78',True)

Sireesha <class 'str'>
(50, 23.054, '78', True) <class 'tuple'>

In [11]:
def yh(*h):
    print(h,type(h))
    return 

yh("Sireesha",50,23.054,'78',True)

('Sireesha', 50, 23.054, '78', True) <class 'tuple'>

In [12]:
def yh(k,*h,**w):
    print(k,type(k))
    print(h,type(h))
    print(w,type(w))
    return 

yh("Sireesha",50,23.054,'78',True,name='Eswar',Addr='TPT',Sal=45000)

Sireesha <class 'str'>
(50, 23.054, '78', True) <class 'tuple'>
{'name': 'Eswar', 'Addr': 'TPT', 'Sal': 45000} <class 'dict'>

In [14]:
def yh(k,*h,t,**w):
    print(k,type(k))
    print(h,type(h))
    print(w,type(w))
    return 

yh("Sireesha",50,23.054,'78',True,name='Eswar',Addr='TPT',Sal=45000)

TypeError: yh() missing 1 required keyword-only argument: 't'

In [15]:
def yh(**w):
    print(w,type(w))
    return 

yh(name='Eswar',Addr='TPT',Sal=45000)

{'name': 'Eswar', 'Addr': 'TPT', 'Sal': 45000} <class 'dict'>